<div class="main">
    <div class="container">
      <div class="row">
      	<div class="col-md-6 col-xs-12">
			<div class="widget stacked">
				<div class="widget-header">
					<i class="icon-file"></i>
					<h3>New Garage Sale</h3>
				</div> <!-- /widget-header -->
				<div class="widget-content">
                    <form role="form">
                        <div class="form-group">
                            <label for="garageSaleInput">Garage Sale Name</label>
                            <input type="input" class="form-control" id="garageSaleInput" placeholder="Enter a name">
                        </div>
                        <div class="form-group">
                            <label for="garageSaleDescInput">Description</label>
                            <input type="text" class="form-control" id="garageSaleDescInput" placeholder="Describe it">
                        </div>
                        <div class="form-group">
                            <label for="startDate">Start Date</label>
                            <div class="input-append date" id="startDate" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                <input class="span2" size="16" type="text" value="12-02-2012">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <label for="endDate">End Date</label>
                            <div class="input-append date" id="endDate" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                <input class="span2" size="16" type="text" value="12-02-2012">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="imageUpload">Image Upload</label>
                            <input type="file" id="imageUpload" >

                        </div>
                        <button type="submit" class="btn btn-default">Save</button>
                    </form>

				</div> <!-- /widget-content -->
			</div> <!-- /widget -->
	    </div> <!-- /span6 -->
	      </div> <!-- /span6 -->
      </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /main -->