<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="widget stacked">
                    <div class="widget-header">
                        <i class="icon-file"></i>
                        <h3>New Garage Sale</h3>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <form role="form">
                            <div class="form-group">
                                <label for="garageSaleInput">Garage Description</label>
                                <input type="text" class="form-control" id="garageSaleInput"
                                       placeholder="Description" ng-model="garage.description">
                            </div>
                            <div class="form-group">
                                <label for="longitudeInput">Longitude</label>
                                <input type="text" class="form-control" id="longitudeInput" ng-model="garage.longitude" >
                            </div>
                            <div class="form-group">
                                <label for="latitudeInput">Latitude</label>
                                <input type="text" class="form-control" id="latitudeInput" ng-model="garage.latitude">
                            </div>
                            <div class="form-group">
                                <div class="input-append date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                    <label for="startDate">Start Date</label>
                                    <input class="span2" size="16" id="startDate" type="text" ng-model="garage.start_date">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-append date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                    <label for="endDate">End Date</label>
                                    <input class="span2" size="16" type="text" id="endDate" ng-model="garage.end_date">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="imageUpload">Image Upload</label>
                                <input type="file" id="imageUpload" >

                            </div>
                            <button type="submit" class="btn btn-default" ng-click="addGarage()">Save</button>
                        </form>


                </div> <!-- /widget -->
            </div> <!-- /span6 -->
        </div> <!-- /span6 -->
     </div> <!-- /row -->
</div> <!-- /container -->
</div> <!-- /main -->